.navigation {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}
.navigation__column input {
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	font-size: 10px;
}

form[name="frm_Search"] {
	text-align: center;
	margin: 0 auto;
}

input[name="wordSearch"] {
	height: 2em;
	text-align: left
}
.navigation .navigation__column:first-child img {
  height: 45px;
}

.navigation .navigations__links {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.navigation .navigation__list-item {
  margin-left: 30px;
  padding: 0 2px;
  opacity: 0;
  animation: slideNavLink 0.5s ease-out forwards;
}

@keyframes slideNavLink {
  from {
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
a.navigation__link{
	color: rgba(0,106,213,0.65);
}
a.navigation__link:hover { 
  color: white;
}
.navigation .navigation__list-item:nth-child(2) {
  animation-delay: 0.2s;
}

.navigation .navigation__list-item:last-child {
  animation-delay: 0.3s;
}

.navigation__link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.navigation__column {
	display:block;
	position: relative;
}
.navigation__column input {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
}

.navigation__column input:focus {
  outline: none;
  border: 1px solid #a9a9a9;
}

.navigation__column {
 
}

.navigation__column .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
