h1, h2, h3, h4, h5, h6 {
	color: black;
	font-weight: 200;
	line-height: 1.5;
	margin: 0 0 1em 0;
}

h1 {
	font-size: 2.75em;
}

h2 {
	font-size: 1.35em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.7em;
}

hr {
	border: 0;
	border-bottom: solid 1px rgba(0, 106, 213, 0.25);
	margin: 1.5em 0;
}

div.border {
	margin: 0px 70px 0 70px;
	color: black;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 200;
	line-height: 1.65;
}

div.gallery {
	display: inline-block;
	margin: 0 5px 0 0;
	border: 1px solid #ccc;
	float: left;
	width: 600px;
	height: 400px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: 60%;
}

span.type p {
	height: 30px;
	padding: 5px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}

span.title {
	display: inline-block;
    height: 50px;
	font-size: 12pt;
	padding: 5px;
	text-align: center;
}

div.contents {
	height: 40px;
	padding: 5px;
	text-align: center;
}
div.slide1,div.slide2 {
	margin:2em auto;
	position: relative;
}
div.slide1 .bx-prev,div.slide1 .bx-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3em;
}
div.slide2 .bx-prev,div.slide2 .bx-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3em;
}
div.slide1 .bx-prev,div.slide2 .bx-prev {
	right: calc(100% + 20px);	
}	
div.slide1 .bx-next,div.slide2 .bx-next {
	left: calc(100% + 20px);	
}