h1, h2, h3, h4, h5, h6 {
	color: black;
	font-weight: 200;
	line-height: 1.5;
	margin: 0 0 1em 0;
}

hr {
	border: 0;
	border-bottom: solid 1px rgba(0, 106, 213, 0.25);
	margin: 1.5em 0;
}

div.search_Name {
	color: #000000;
	font-size: 1.2em;
}
div.search_Name span {
	font-weight: bold;
	color: #FD8AB1;
}

div.search_Title {
	display: block;
	font-size: 1em;
    letter-spacing: 1px;
    font-weight: bold;
    color: #333333;
    margin: 0 0 20px 0;
}

div.search_Title span {
	color: #00C5BC;
}

div.border {
	margin: 0px 70px 0 70px;
	color: black;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 200;
	line-height: 1.65;
}

div.gallery {
	display: inline-block;
	margin: 0 5px 0 0;
	border: 1px solid #ccc;
	float: left;
	width: 600px;
	height: 400px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img.exist {
	width: 100%;
	height: 60%;
}

div.gallery img.none {
	margin: 80px 0;
	width: 80%;
	height: 80%;
}

span.none-text {
	display: block;
	font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
    color: #87ADF8;
    margin: 20px 0;
}

span.type p {
	height: 30px;
	padding: 5px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}

span.title {
	display: inline-block;
	word-break: keep-all;
	width: 250px;
    height: 50px;
    line-height: 25px;
	font-size: 12pt;
	padding: 5px;
	text-align: center;
}

span.contents {
	display: block;
	height: 40px;
	padding: 5px;
	text-align: center;
}
div.slide1 {
	position: relative;
}
div.slide2 {
	margin: 60px auto;
	position: relative;
}
div.slide1 .bx-prev,div.slide1 .bx-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3em;
}
div.slide2 .bx-prev,div.slide2 .bx-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3em;
}
div.slide1 .bx-prev,div.slide2 .bx-prev {
	right: calc(100% + 20px);	
}	
div.slide1 .bx-next,div.slide2 .bx-next {
	left: calc(100% + 20px);	
}