div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 350px;
	height: 375px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: 60%;
}

div.type {
	padding: 10px;
	text-align: center;
}

div.title {
	padding: 5px;
	text-align: center;
}

div.like {
	padding: 10px;
	text-align: center;
}